<!DOCTYPE html>
<html>
<head>
<title>Vacancies</title>
<link rel="stylesheet"  type="text/css" href="/css/Vacancies.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>


<div>
    <div class="card" style="margin-left :80px;">
        <img src="a1.jpg" class="card-img" style="margin-left :5px;height:350px;width: 390px;" alt="">
        <div class="card-body" >
             <centre><h1 class="card-title">STEP:1</h1></centre><br>

        <h2 class="card-info">First you have to fill the form on your respective interests domain mentioned below </h2>
      </div>
     </div>
<div class="box">

<h1>Web Designer</h1>
<p>Web designers plan, create  web pages, many of which combine text with sounds, pictures, graphics and video clips.
    A web designer is responsible forcreating the design and layout of a website or web pages</p>
    <p><h3>Vacancies - <%=vacacantrole[0]%></h3></p>
  <form action="/registration" method="post">
    <input type="hidden" name="vac" value="<%=vacacantrole[0]%>">
    <button class="btn" name="btn" value="Web Designer" >Join Us</a><ion-icon name="arrow-forward-outline"></ion-icon></button>
  </form>
</div>
<div class="box">

<h1>Feedback Team</h1>
<p>Start promoting your product through Content Marketing and boost your Business to next level.</p>
<p><h3>Vacancies - <%=vacacantrole[1]%></h3></p>
<form action="/registration" method="post">
  <input type="hidden" name="vac" value="<%=vacacantrole[1]%>">
  <button class="btn" name="btn" value="Feedback Team" >Join Us</a><ion-icon name="arrow-forward-outline"></ion-icon></button>
</form>
</div>
<div class="box">

<h1>Fundraising Team</h1>
<p>Get more website traffic, more customers, and more online visibility with powerful SEO ss.</p>
<p><h3>Vacancies - <%=vacacantrole[2]%></h3></p>
<form action="/registration" method="post">
  <input type="hidden" name="vac" value="<%=vacacantrole[2]%>">
  <button class="btn" name="btn" value="Fundraising Team" >Join Us</a><ion-icon name="arrow-forward-outline"></ion-icon></button>
</form>
</div>
</div>

<div>

    <div class="card" style="margin-left :50px;" >
        <img src="e1.webp" style="margin-left :5px;height:350px;width: 390px;" class="card-img" alt="">
        <div class="card-body">
             <h1 class="card-title">STEP:2</h1><br>

             <h2 class="card-info">Based on the availability of vacancies in the club we will notify you and the exam will be on Digital,
                Analog, Networks and C Lamguage</h2>
        </div>
     </div>
<div class="box">

    <h1>Documentation</h1>
    <p>Web designers plan, create  web pages, many of which combine text with sounds, pictures, graphics and video clips.
        A web designer is responsible forcreating the design and layout of a website or web pages</p>
        <p><h3>Vacancies - <%=vacacantrole[3]%></h3></p>
        <form action="/registration" method="post">
          <input type="hidden" name="vac" value="<%=vacacantrole[3]%>">
          <button class="btn" name="btn" value="Documentation" >Join Us</a><ion-icon name="arrow-forward-outline"></ion-icon></button>
        </form>
    </div>
    <div class="box">

    <h1>News Updates</h1>
    <p>Start promoting your product through Content Marketing and boost your Business to next level.</p>
    <p><h3>Vacancies - <%=vacacantrole[4]%></h3></p>
    <form action="/registration" method="post">
      <input type="hidden" name="vac" value="<%=vacacantrole[4]%>">
      <button class="btn" name="btn" value="News Updates" >Join Us</a><ion-icon name="arrow-forward-outline"></ion-icon></button>
    </form>
    </div>
    <div class="box">

    <h1>Promotions Team</h1>
    <p>Get more website traffic, more customers, and more online visibility with powerful SEO ss.</p>
    <p><h3>Vacancies - <%=vacacantrole[5]%></h3></p>
    <form action="/registration" method="post">
      <input type="hidden" name="vac" value="<%=vacacantrole[5]%>">
      <button class="btn" name="btn" value="Promotions Team" >Join Us</a><ion-icon name="arrow-forward-outline"></ion-icon></button>
    </form>
    </div>
</div>
</body>
</html>
